<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.Socialnet.project.controller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>


<!-- 	<error-page> -->
<!-- 		<error-code>404</error-code> -->
<!-- 		<location>/ErrorPage404.jsp</location> -->
<!-- 	</error-page> -->
	<error-page>
		<error-code>404</error-code>
		<location>/ErrorPage404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/ErrorPage404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.IllegalArgumentException</exception-type>
		<location>/Illegal.jsp</location>
	</error-page>
</web-app>

